<!-- Modal -->
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()">&times;</button>
        <h2 class="modal-title">{{actualRecipe.name}}</h2>
      </div>
      <div class="modal-body">
        <h3>Directions: </h3>
        <p>{{actualRecipe.directions}}</p>
        <h3>Preparation time: </h3>
        <p>{{actualRecipe.prepTime}}</p>
        <h3>Cook time: </h3>
        <p>{{actualRecipe.cookTime}}</p>
        <h3>Ingredients: </h3>
        <ul>
          <li *ngFor="let ingredient of ingredients">{{ingredient.name}} : {{ingredient.amount}} {{ingredient.unit}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <h5>Recipe submitted by: {{actualRecipe.ownerName}}</h5>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
      </div>
    </div>

  </div>
</div>
