<!DOCTYPE html5>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>The Recipe Bay</title>
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="favicon.png" />


    </head>
    <body>
        <div id="main">
            <h1>Welcome to The Recipe Bay</h1>
            <h4>Your #1 source for recipes</h4>
          <button style="width:100%" type="button" class="btn btn-primary btn-round" (click)="addRecipePopup()">Add new Recipe</button>
            <table class="recipe-table table table-bordered table-hover table-responsive">
              <thead>
              <tr>
                <th>
                  Recipe Name
                </th>
                <th>
                  Time to finish
                </th>
                <th>
                  Submitted By
                </th>
                <th>

                </th>
              </tr>
                </thead>


              <tr *ngFor="let recipe of recipeList"  [showPopup]="showPopup" [actrec]="recipe" (recipeDetailEvent)="onRecipe($event)" (notify)='onNotify($event)' recipetr></tr>


            </table>
            <app-recipedetailtemplate [actualRecipe]="actualRecipe" (notify)='onNotify($event)' *ngIf="showPopup==true"></app-recipedetailtemplate>
            <app-addrecipemodal (hiderec)='onHideRecipe($event)' *ngIf="showAddrecipe==true"></app-addrecipemodal>

            <h1>.</h1>
            <h1>.</h1>
            <h1>.</h1>
            <h1>.</h1>
        </div>

    </body>
    <script>

    </script>
</html>
