<!DOCTYPE html5>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>The Recipe Bay</title>
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="favicon.png" />


    </head>
    <body>
        <div id="main">

            <img id="logo" src="tpb.jpg">

            <form id="loginform">
                <input class="form-control" type="text" placeholder="Enter Username" name="uname" required>
                <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>

                <br>
                <button class="btn btn-primary btn-round" id="loginButton" type="button">Login</button>
                <button class="btn btn-warning btn-round" id="registerButton" type="button">Register</button>

            </form>
        </div>

    </body>
</html>
