/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.11.27., 18:52:46
    Author     : dbw
*/

#main{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#loginform {
    padding-top: 30px;
        width: 50%;
    margin: 0 auto;
}

#logo {
    padding-top: 20px; 
}

input {
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}

th {
    text-align: left;
}

.expand-button {
    width: 100%;
}